/*$onas-color: #ffcce6 ;
$zajecia-color: #ecc6c6;
$kosmetyki-color:#ff9999;
$katalogi-color:#d27979;
$kontakt-color:#ac3939;
$navhover-color:blue;*/
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@-webkit-keyframes podkreslenie {
  0% {
    flex-basis: 0%;
  }
  100% {
    flex-basis: 100%;
  }
}
@keyframes podkreslenie {
  0% {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  100% {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.hamburger {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__hamburger {
  -webkit-transition: all .2s .2s ease-in-out;
  transition: all .2s .2s ease-in-out;
}

.hamburger__box {
  display: inline-block;
  z-index: 10;
  width: 40px;
  height: 50px;
  position: absolute;
}

.hamburger__box:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hamburger__inner {
  width: 100%;
  background-color: #222222;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .3s .2s ease-in-out;
  transition: background-color .3s .2s ease-in-out;
}

@media (max-width: 799px) {
  .hamburger__inner {
    height: 3px;
  }
}

@media (min-width: 800px) {
  .hamburger__inner {
    height: 5px;
  }
}

.hamburger__inner::before, .hamburger__inner::after {
  content: '';
  left: 0;
  width: 100%;
  background-color: #222222;
  position: absolute;
  -webkit-transition: -webkit-transform .3s .2s ease-in-out;
  transition: -webkit-transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out, -webkit-transform .3s .2s ease-in-out;
}

@media (max-width: 799px) {
  .hamburger__inner::before, .hamburger__inner::after {
    height: 3px;
  }
}

@media (min-width: 800px) {
  .hamburger__inner::before, .hamburger__inner::after {
    height: 5px;
  }
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  height: 100vh;
  z-index: 10;
  background-color: #222222;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'lato', sans-serif;
}

@media (max-width: 799px) {
  .navigation {
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media (min-width: 800px) {
  .navigation {
    width: 600px;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@media (max-width: 799px) {
  .navigation--active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (min-width: 800px) {
  .navigation--active {
    -webkit-transform: translateX(calc(100vw - 600px));
            transform: translateX(calc(100vw - 600px));
  }
}

.nav--blank {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecc6c6));
  background-image: linear-gradient(#ecc6c6);
}

.nav__box {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: calc(100% - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.onas, .zajecia, .kosmetyki, .katalogi, .kontakt {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (orientation: portrait) {
  .onas, .zajecia, .kosmetyki, .katalogi, .kontakt {
    height: calc((100vh - 160px)/5);
  }
}

@media (orientation: landscape) {
  .onas, .zajecia, .kosmetyki, .katalogi, .kontakt {
    height: calc((100vh - 160px)/5);
  }
}

.onas a, .zajecia a, .kosmetyki a, .katalogi a, .kontakt a {
  text-decoration: none;
  color: #222;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

@media (max-width: 799px) {
  .onas a, .zajecia a, .kosmetyki a, .katalogi a, .kontakt a {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  .onas a, .zajecia a, .kosmetyki a, .katalogi a, .kontakt a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .onas a, .zajecia a, .kosmetyki a, .katalogi a, .kontakt a {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .onas a, .zajecia a, .kosmetyki a, .katalogi a, .kontakt a {
    font-size: 1.5rem;
  }
}

@media (min-width: 1900px) {
  .onas a, .zajecia a, .kosmetyki a, .katalogi a, .kontakt a {
    font-size: 1.6rem;
  }
}

@media (min-width: 2400px) {
  .onas a, .zajecia a, .kosmetyki a, .katalogi a, .kontakt a {
    font-size: 1.8rem;
  }
}

.onas:hover, .zajecia:hover, .kosmetyki:hover, .katalogi:hover, .kontakt:hover {
  cursor: pointer;
  /*a ~ .nav--border
{
    background-color: white;
    animation-name: podkreslenie;
    animation-duration: .8s;
    animation-iteration-count: initial;
}
}
.nav--border
{
    flex-basis: 100%;
    height: 5px; 
}*/
}

.onas {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecc6c6), to(#e6b3b3));
  background-image: linear-gradient(#ecc6c6, #e6b3b3);
}

.onas:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2d9d9));
  background-image: linear-gradient(#f2d9d9);
}

.zajecia {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6b3b3), to(#dfa0a0));
  background-image: linear-gradient(#e6b3b3, #dfa0a0);
}

.zajecia:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2d9d9));
  background-image: linear-gradient(#f2d9d9);
}

.kosmetyki {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfa0a0), to(#e6b3b3));
  background-image: linear-gradient(#dfa0a0, #e6b3b3);
}

.kosmetyki:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2d9d9));
  background-image: linear-gradient(#f2d9d9);
}

.katalogi {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6b3b3), to(#ecc6c6));
  background-image: linear-gradient(#e6b3b3, #ecc6c6);
}

.katalogi:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2d9d9));
  background-image: linear-gradient(#f2d9d9);
}

.kontakt {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecc6c6));
  background-image: linear-gradient(#ecc6c6);
}

.kontakt:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2d9d9));
  background-image: linear-gradient(#f2d9d9);
}
/*# sourceMappingURL=openmenu.css.map */