.news
{
    @media(max-width: 1023px)
    {
        flex-basis: 95%;
        height: 300px;
        background-color: red;
        margin-bottom: 15px;
    }
    @media(min-width: 1024px)
    {
        flex-basis: 90%;
        height: 300px;
        background-color: red;
       // margin-left: 10px;
        margin-bottom: 10px;
    }
    @media(min-width: 1440px)
    {
        //flex-basis: 33%;
        margin-left: 10px;
        margin-right: 10px;
        height: 300px;
        background-color: red;
       // margin-left: 10px;
        margin-bottom: 10px;
    }
}
.news:last-child
{
    @media(max-width: 1023px)
    {
        flex-basis: 95%;
        height: 300px;
        background-color: red;
        margin-bottom: 15px;
    }
    @media(min-width: 1024px)
    {
       // flex-basis: 48%;
        height: 300px;
        background-color: red;
       // margin-left: 10px;
        margin-bottom: 10px;
    }
    @media(min-width: 1440px)
    {
        //flex-basis: 33%;
        margin-left: 10px;
        margin-right: 10px;
        height: 300px;
        background-color: red;
       // margin-left: 10px;
        margin-bottom: 10px;
    }
}